.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 88vh;
  overflow: hidden;
  border-radius: 10px;
}

.parrafo {
  margin: 0;
}