.root {
  height: 100%;
  width: 100%;
  margin: 16px;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  height: 100px;
  width: 100px;
}

.img:hover {
  transform: translateX(.2em);
}
.title {
  color: aliceblue
}