.root {
  color: white;
  border: 5px double white;
  border-radius: 10px;
  margin: 8px;
  padding: 8px;
  background-color: rgb(77, 77, 66);
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.small {
  font-size: small;
}